.previewContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px;
  border-top: 1px solid var(--clr-primary-200);

  .previewNav {
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid var(--clr-primary-200);
    padding: 0px 16px;

    .previewNavButton {
      margin-left: -8px;
      color: var(--clr-white);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0px 8px;
      margin-bottom: -1px;

      text-transform: capitalize;

      &:first-of-type {
        margin-left: 0px;
      }
    }

    .selected {
      border-bottom: 1px solid var(--clr-primary-100);
    }

    .refresh {
      margin-left: auto;
      button {
        margin-right: -10px;
      }
    }
  }

  .previewWrapper {
    position: relative;
    padding: 16px;
    height: 300px;

    .preview {
      height: 100%;
      resize: both;
      overflow: auto;
      max-height: 100%;
      max-width: 100%;
    }
  }
}

.hide {
  display: none !important;
}
